@import "tailwindcss";

.leaflet-container {
  height: 500px;
  width: 100%;
}

/* Animation for landing page */

@keyframes panLeft {
  0% {
    transform: translateX(0%) scale(1.0);
  }

  100% {
    transform: translateX(-10%) scale(1.0);
  }
}

.pan-animation {
  animation: panLeft 20s linear infinite;
}


.map-wrapper {
  height: calc(100vh - 80px);
}

@media (max-width: 639px) {
  .map-wrapper {
    height: calc(100vh - 56px);
    margin-top: 56px;
  }
}